.about-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../fotos/img/about-chef1.jpg);
    height: 50vh;
}

@media(max-width: 375px) {

    .about-page .container {
        padding: 0 15px;
    }

    .about-page header {
        margin-bottom: 20px;
        text-align: center;
    }

    .about-page .container p {
        font-size: 0.9rem;
    }

    .about-page .row {
        flex-direction: column;
        gap: 15px;
    }

    .about-page .col-lg-6 {
        width: 100%;
        padding: 0 15px;
        text-align: center;
        margin-bottom: 15px;
    }

    .about-page img {
        width: 100%;
        height: auto;
    }

    .about-page h1 {
        font-size: 1.8rem;
    }

    .about-page .map-responsive {
        height: 390px; 
    }
}