.contact-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../fotos/img/contact-menu.jpg);
    height: 50vh;
}

@media(max-width: 375px) {

    .contact-page h1 {
        font-size: 1.7rem;
        text-align: center;
    }
    .contact-page .col-lg-6 {
        width: 100%;
        padding: 0 15px;
        font-size: 12px;
        margin-top: 15px;
    }
    
    .contact-page form .row {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    
    .contact-page form .row .col-md-6 {
        width: 100%;
        
    }
    
    .contact-page form .row .col-md-6 label {
        font-size: 0.9rem;
    }
    
    .contact-page form .row .col-md-6 input,
    .contact-page form .row .col-md-6 textarea {
        padding: 10px;
        font-size: 0.9rem;
    }
    
    .contact-page .btn {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
    }
}