.contact-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../fotos/img/contact-menu.jpg);
    height: 50vh;
}

.whatsapp-icon {
    bottom: 20px;
    right: 70px;
    z-index: 100;
}

@media(max-width: 375px) {

    .contact-page h1 {
        font-size: 1.8rem;
        text-align: center;
    }
    .contact-page .col-lg-6 {
        width: 100%;
        padding: 0 15px;
        font-size: 12px;
        margin-top: 15px;
    }

    .contact-page .ratio {
        height: 390px; 
    }
    
    .contact-page .btn {
        width: 100%;
        padding: 10px;
       font-size: 1rem;
    }

    
}