.menu-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../fotos//img/menu-img.jpeg);
    height: 50vh;
}

@media (max-width: 375px) {
    .menu-page .container {
        padding: 0 15px;
    }

    .menu-page header h1 {
        font-size: 1.5rem;
        text-align: center;
    }
}