.menu-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../fotos//img/menu-img.jpeg);
    height: 50vh;
}

@media (max-width: 375px) {
    .menu-page .container {
        padding: 0 15px;
    }

    .menu-page header h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .menu-page .alacarte img,
    .menu-page .aperitivo img,
    .menu-page .drink img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .menu-page .col-lg-6 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu-page .row {
        flex-direction: column;
    }
}