.menu-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../fotos//img/menu-img.jpeg);
    height: 50vh;
}

@media (max-width: 375px) {
    .menu-page .container {
        padding: 0 15px;
    }

    .menu-page header h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .menu-page .alacarte img,
    .menu-page .aperitivo img,
    .menu-page .drink img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .menu-page .col-lg-6 {
        flex-direction: column;
        gap: 15px;

    }

    .menu-page .row {
        flex-direction: column;
    }

    .menu-page .alacarte .fs-1,
    .menu-page .aperitivo .fs-1,
    .menu-page .drink .fs-1 {
        font-size: 1.25rem;
    }

    .menu-page .card-body {
        padding: 10px;
    }

    .menu-page .card-title {
        font-size: 1.1rem;
    }

    .menu-page .card-text {
        font-size: 1rem;
    }
}